<h1>All Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <strong>Title:</strong>
      <%= link_to product.title, product_path(product) %> <br>
      <strong>Category:</strong>
      <%= product.category&.name || "Uncategorized" %> <br>
      <strong>Price:</strong> $<%= product.price %> <br>
      <strong>Stock:</strong> <%= product.stock_quantity %> units <br>
      <strong>Description:</strong> <%= product.description %>
    </li>
    <hr>
  <% end %>
</ul>
